.navbar {
    background-color: rgb(162, 164, 165);
    height: 70px;
}

.major {
    text-align: center;
    padding-top: 80px;
    font-size: 70px;
    background-color: #ece8bd;
    margin-bottom: 0%;
    padding-bottom: 40px;
}
  
.grid-item {
    border: 1px solid rgb(0, 0, 0);
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    margin-top: 15px;
  }
  
  .grid-container {
    background-color: #ffefcd;
    display: flex;
    justify-content: center;

  }

  .input1 {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #ece8bd;
}

#covidInput {
    width: 300px;
    height: 50px;
}
  
  footer {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
      background-color: gray;
  }
  
  @media (min-width: 48em){
    .navbar {
        background-color: rgb(162, 164, 165);
        height: 70px;
    }
    
    .major {
        text-align: center;
        padding-top: 100px;
        font-size: 70px;
        background-color: #ece8bd;
        margin-bottom: 0%;
    }
    
    .grid-container {
        display: flex;
        justify-content: center;
        background-color: #ffefcd;
      }
      
      .grid {
        width: 900px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    
      }
      
      .grid-item {
        border: 1px solid rgb(0, 0, 0);
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 15px;
        margin-top: 15px;
      }
    
      .input1 {
          text-align: center;
          padding-top: 100px;
          padding-bottom: 100px;
          background-color: #ece8bd;
      }
    
      #covidInput {
          width: 600px;
          height: 50px;
      }
    
      footer {
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
        position: fixed;
        bottom: 0;
        width: 100%;
          background-color: gray;
      }
  }